.title {
    color: red;
}

.hobby {
	color: #1a00ff;
}

.titelseries {
	color: #d000ff;
}

.series {
	color: #1900ff;
}

.foto {
	color: #00ff11;
}

.background {
	background-color: #f6ff00;
}

.fotogrootte {
	width: 100px;
}